#Strings

You can convert a value to a string using the syntax str()

In [2]:
'hello'.upper()

'HELLO'

In [3]:
'HELLO'.lower()

'hello'

In [10]:
'hello '+'world'

'hello world'

In [9]:
'hello '*3

'hello hello hello '

In [7]:
'hello'

'hello'

In [16]:
str('1')

'1'

##Numbers
...
These include 

1. Integers - whole numbers like 12 
- you can convert some other data types to integers with the int() function

2. Floats - decimal numbers like 1.2
- you can convert some other data types to floats with the float() function

In [24]:
int('1')
#1
int(1.1)
#1
float("1.1")
#1.1

#Python converts an int to a float when computing math operations

4/3
#1.3333333333333333
4/3.0
#1.3333333333333333
float(4 / 3)
#1.3333333333333333
int(4 / 3)
#1

1

###Sequence Types

##Lists
- A list is an ordered sequence of items used to store data. They are identified by box brackets[] eg [1,2,3,4,5]
- specific elements in the list like 1, above are called indicies (plu) index (sing). indicies start from 0 and go in increments of 1.
- To count the number of indices in a list, use len()
- To sort the indices in a list, use sorted

In [18]:
[1,2,3,4,5,88]
#[1, 2, 3, 4, 5, 88]
list()
#[]

#indices

list_abc = [1, 2, 3, 4, 5, 88]

list_abc[0]
#1
list_abc[4]
#5
len(list_abc)
#6
list_abc.pop()
#5
list_xyz = [1, 8, 2, 12, 15, 9, 14, 3, 6, 18, 7, 16]
sorted(list_xyz)
#[1, 2, 3, 6, 7, 8, 9, 12, 14, 15, 16, 18]

list_xyz.remove(12)
sorted(list_xyz)
print(list_xyz)
#[1, 8, 2, 15, 9, 14, 3, 6, 18, 7, 16]

#type(list_xyz)
#list

new_list = list_abc + list_xyz

[1, 8, 2, 15, 9, 14, 3, 6, 18, 7, 16]

##Tuples

-These are unchangeable lists... You cannot add or remove indicies from tuples
-They are identified by use of normal parenthesis
-Their unchangeable nature is best used when working with data from a database
-To let Python know that it's looking at a tuple, there has to be at least one comma- even in tuples with only one element: (1,)

In [20]:
asd_jkl=(1, 2, 3, 4)
type(asd_jkl)
#tuple

tuple

In [17]:
list_xyz = [1, 8, 2, 12, 15, 9, 14, 3, 6, 18, 7, 16]

list_xyz.extend(188)

TypeError: 'int' object is not iterable

In [19]:
list_xyz = [1, 8, 2, 12, 15, 9, 14, 3, 6, 18, 7, 16]

list_abc = [1, 2, 3, 4, 5, 88]

new_list = list_abc + list_xyz

##Range
The range type represents an immutable sequence of numbers and is commonly used for looping a specific number of times in for loops.

In [18]:
tuple(range(10))
#(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
list(range(1,11))
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(range(0,-10,-1))
#[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
list(range(-10,10))
#[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

range_one=list(range(-10,10,2))
#print(range_one)
#(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

r=range(0, 20, 2)
r
#range(0, 20, 2)
11 in r
#False
r.index(10)
#5
r[:5]
#range(0, 10, 2)
r[:4]
#range(0, 8, 2)

range(0, 8, 2)

In [22]:
list_abc

NameError: name 'list_abc' is not defined

##Strings